@font-face {
    font-family: MavenPro;
    src: url("../fonts/MavenPro-VariableFont_wght.ttf");
}

@font-face {
    font-family: Gilda;
    src: url("../fonts/GildaDisplay-Regular.ttf");
}

/* font families */
/* 
font-family: MavenPro;
font-family: Gilda;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--header--*/

header {
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
}

.super {
    width: 10vw;
    font-family: MavenPro;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    margin: 1vh 0 0 3vw;
}

.articleTopCenter {
    background: linear-gradient(225deg, rgba(61,200,213,1) 0%, rgba(25,72,148,1) 50%, rgba(133,7,225,1) 100%);
    margin: 35.5vh auto;
    padding: 2vw;
    align-self: center;
}

.articleTopCenter:hover {
    background: linear-gradient(45deg, rgba(61,200,213,1) 0%, rgba(25,72,148,1) 50%, rgba(133,7,225,1) 100%);    
}

.pTitle {
    font-family: Gilda;
    font-size: 3rem;
    padding-bottom: 10%;
}

.pSubtitle {
    font-family: MavenPro;
    font-size: 0.7rem;
}

nav {
    text-align: right;
    align-self: flex-end;
    padding: 0 3vw 3vh 0;
}

a {
    display: block;
    color: #cccccc;
    text-decoration: none;
    font-family: MavenPro;
    line-height: 1.5rem;
}

a:hover {
    color: white;
}

/*--main--*/

.sectionProjects {
    margin: 20vh 0 0 7vw;
    background-image: url(../img/5c898cd67456ffcba141a5ff_PROJECTS.svg);
    background-size: 70vw;
    background-repeat: no-repeat;
}

h2 {
    font-size: 2.4rem;
    padding: 7% 0 10% 0;
}

.pText {
    font-family: MavenPro;
    width: 70vw;
}

/*--photos--*/

.sectionPhotos {
    width: 80vw;
    margin: 0 auto;
}

img {
    width: 100%;
    border-radius: 5px;
}

h3 {
    font-size: 2rem;
    margin: 5% 0 2% 0;
}

article {
    padding: 5vw 0 5vw 0;
}

p {
    font-family: MavenPro;
}


