@font-face {
    font-family: MavenPro;
    src: url("../fonts/MavenPro-VariableFont_wght.ttf");
}

@font-face {
    font-family: Gilda;
    src: url("../fonts/GildaDisplay-Regular.ttf");
}

/* font families */
/* 
font-family: MavenPro;
font-family: Gilda;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--header--*/

header {
    background-color: #333333;
    color: white;
    height: 100vh;
}

h1 {
    width: 10vw;
    font-family: MavenPro;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    padding: 1vh 0 0 3vw;
}

/*Die section dient nur zum Zentrieren des articles*/
.sectionTopCenter {
    text-align: center;
    height: 0;
}

.articleTopCenter {
    display: inline-block;
    background: rgb(110,0,215);
    background: linear-gradient(230deg, rgba(110,0,215,1) 31%, rgba(69,61,209,1) 50%, rgba(65,206,205,1) 79%);    
    margin: 20vh auto;
    padding: 2vw;
}

.pTitle {
    font-family: Gilda;
    font-size: 3rem;
    padding-bottom: 10%;
}

.pSubtitle {
    font-family: MavenPro;
    font-size: 0.7rem;
}

nav {
    text-align: right;
    margin: 73vh 3vh auto 75%;
}

a {
    display: block;
    color: #cccccc;
    text-decoration: none;
    font-family: MavenPro;
    line-height: 1.5rem;
}

a:hover {
    color: white;
}

/*--main--*/

.sectionProjects {
    margin: 20vh 0 0 7vw;
    background-image: url(../img/5c898cd67456ffcba141a5ff_PROJECTS.svg);
    background-size: 70vw;
    background-repeat: no-repeat;
}

h2 {
    font-size: 2.4rem;
    padding: 7% 0 10% 0;
}

.pText {
    font-family: MavenPro;
    width: 70vw;
}

/*--photos--*/

.sectionPhotos {
    width: 60vw;
    margin: 0 auto;
}

img {
    width: 100%;
    border-radius: 5px;
}

h3 {
    font-size: 2rem;
    margin: 5% 0 2% 0;
}

article {
    padding: 10vw 0 5vw 0;
}


